## Explore Exercise

### Exercise Number 7
Use the functions you have developed in this exercise with the mall_customers dataset in the Codeup database server. You will need to write a sql query to acquire your data. Make spending_score your target variable.

In [3]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

import wrangle
from explore import plot_categorical_and_continuous_vars
from env import get_db_url
import os

from sklearn.model_selection import train_test_split
from scipy import stats

import warnings
warnings.filterwarnings('ignore')

pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [4]:
url = get_db_url('mall_customers')

mall_data = pd.read_sql('''
SELECT *
FROM customers
''', url)

In [9]:
mall_data.head()

   customer_id  gender  age  annual_income  spending_score
0            1    Male   19             15              39
1            2    Male   21             15              81
2            3  Female   20             16               6
3            4  Female   23             16              77
4            5  Female   31             17              40

In [15]:
train_validate, test = train_test_split(mall_data, test_size=0.3, random_state=123)
train, validate = train_test_split(train_validate, test_size=0.4, random_state=123)