# Dataframe Manipulation Warmup

In [1]:
import numpy as np
import pandas as pd

np.random.seed(406)

n = 5000
df = pd.DataFrame({
    'favorite_animal': np.random.choice(['cat', 'dog', 'frog', 'lemur', 'panda'], n),
    'favorite_vegetable': np.random.choice(['brussel sprouts', 'potato', 'squash'], n),
    'favorite_fruit': np.random.choice(['banana', 'apple', 'blueberries'], n),
    'wears_glasses': np.random.choice(['yes', 'no'], n),
    'netflix_consumption': np.random.normal(10, 2, n),
    'open_browser_tabs': np.random.randint(2, 90, n),
})

1. What is the highest amount of netflix consumption? `17.535`
2. How many people wear glasses? What percentage of people is this? `2555`, `.511`
3. How many people's favorite animal is a dog? `1002`
4. What is the most common favorite animal? `lemur`
5. What is the average netflix consumption for people that prefer brussel sprouts? `10.008`
6. What is the most common favorite fruit for people who wear glasses and have more than 40 open browser tabs? `blueberries`

In [2]:
df.head()

,favorite_animal,favorite_vegetable,favorite_fruit,wears_glasses,netflix_consumption,open_browser_tabs
0,lemur,potato,apple,yes,8.313351,44
1,panda,potato,apple,yes,11.801073,10
2,cat,squash,blueberries,yes,10.105141,35
3,lemur,squash,apple,no,11.024605,70
4,dog,brussel sprouts,apple,yes,6.732698,73

In [3]:
#1 What is the highest amount of netflix consumption? 17.535
df.netflix_consumption.max()

17.534818515438925

In [6]:
#2 How many people wear glasses? What percentage of people is this? 2555, .511
df.wears_glasses = df.wears_glasses.map({'yes' : 1 , 'no' : 0})
df.wears_glasses.sum()

2555

In [7]:
df.wears_glasses.mean()

0.511

In [15]:
#3 How many people's favorite animal is a dog? 1002
df.favorite_animal[df.favorite_animal == 'dog'].agg('count')

1002

In [30]:
#4 What is the most common favorite animal? lemur
df.favorite_animal.value_counts()

lemur    1028
frog     1015
dog      1002
cat       980
panda     975
Name: favorite_animal, dtype: int64

In [35]:
#5 What is the average netflix consumption 
# for people that prefer brussel sprouts? 10.008
df[df.favorite_vegetable == 'brussel sprouts'].netflix_consumption.agg('mean')

10.00847154798366

In [49]:
#6 What is the most common favorite fruit for people who wear glasses and 
# have more than 40 open browser tabs? blueberries
sub = df[df.wears_glasses == 1]
sub = sub[sub.open_browser_tabs > 40]
sub.favorite_fruit.value_counts()

blueberries    498
apple          477
banana         472
Name: favorite_fruit, dtype: int64

In [50]:
df[df.wears_glasses == 1]\
                [df.open_browser_tabs > 40]\
                        .favorite_fruit.value_counts()

/var/folders/lg/ftvnw2s97_z5h66qcl3vwwf00000gn/T/ipykernel_43451/2459901676.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df.wears_glasses == 1][df.open_browser_tabs > 40].favorite_fruit.value_counts()

blueberries    498
apple          477
banana         472
Name: favorite_fruit, dtype: int64